@font-face {
    font-family:Chocktoff;
    src:url("Chocktoff.ttf"); 
    font-style:normal;
}
body {
    padding:0px;
    margin:0px;
    background:#CCCCCC;
}
.Top_Bar {
    background-color:#D00000;
    color:#FFFFFF;
    font-size:30px;
    width:100%;
    font-family:Chocktoff,sans-serif;
}
.Name_Text {
    padding-top:20px;
    background-color:#D00000;
    width:800px;
}
.Top_Bar_Menu {
    width:800px;
    height:39px;
    border:1px solid #BBBBBB;
    margin-left:auto;
    margin-right:auto;
}
.Top_Bar_Divider {
    background-color:#000000;
    border-top:1px #BBBBBB solid;
    width:800px;
    margin-left:auto;
    margin-right:auto;
    height:30px;
}
.Top_Bar_Menu_Item {
    border-top:1px solid #777777;
    color:#FFFFFF;
    background-color:black;
    text-align:center;
    width:266px;
    text-decoration:none;
    display:inline;
    float:left;
    height:100%;
}
.Top_Bar_Menu_Divider {
    background-color:#BBBBBB;
    width:1px;
    float:left;
    display:inline;
    height:100%;
}
.Top_Bar_Menu_Item:hover {
    background-color:#333333;
}
.Content {
    background-color:#E7E7E7;
    padding:0px 5px 5px 5px;
    width:790px;
    border:1px solid #BBBBBB;
    margin-left:auto;
    margin-right:auto;
}
.GitHub_Link {
    text-decoration:none;
    color:black;
}
.GitHub_Link:hover {
    text-decoration:underline;
}
.Center_Title {
    text-align:center;
}
.Content_Body {
    text-align:left;
    background-color:white;
    border:1px solid black;
    padding:3px;
}
.c8 {
    padding:0px;
    margin:0px;
}
.Resume {
    width:100%;
    height:900px;
}