body {
    padding:0px;
    margin:0px;
    background:#CCCCCC;
    font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
}
.Top_Bar {
    background-color:#D00000;
    float:left;
    color:#FFFFFF;
    font-size:30px;
    width:100%;
}
.Top_Line {
    background-color:#333333;
    width:100%;
    height:3px;
    float:left;
}
.Name_Text {
    padding-top:10px;
    float:left;
    background-color:#D00000;
    display:inline;
}
.Top_Bar_Menu {
    margin-left:auto;
    margin-right:auto;
    width:800px;
    height:39px;
}
.Top_Bar_Menu_Item {
    font-size:20px;
    color:white;
    text-align:center;
    width:130px;
    text-decoration:none;
    display:inline;
    padding-top:6px;
    float:right;
    height:100%;
}
.Top_Bar_Menu_Itemtrue {
    font-size:20px;
    color:white;
    text-align:center;
    background-color:#333333;
    width:130px;
    text-decoration:none;
    display:inline;
    padding-top:6px;
    float:right;
    height:100%;    
}
.Top_Bar_Menu_Item:hover {
    background-color:#333333;
}
.Content {
    background-color:#E7E7E7;
    padding:0px 5px 5px 5px;
    width:790px;
    border:1px solid #BBBBBB;
    margin-left:auto;
    margin-right:auto;
}
.GitHub_Link {
    text-decoration:none;
    color:#333333;
}
.GitHub_Link:hover {
    text-decoration:underline;
}
.Center_Title {
    text-align:center;
}
.Content_Body {
    text-align:left;
    background-color:white;
    border:1px solid #333333;
    padding:3px;
    padding-top:20px;
    padding-bottom:20px;
}
.Content_Bodytrue {
    height:500px;
    text-align:left;
    background-color:white;
    border:1px solid #333333;
    padding:7px;
    padding-top:20px;
    padding-bottom:20px;
}
.c8 {
    padding:0px;
    margin:0px;
}
.Resume {
    width:100%;
    height:900px;
}