<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css" />
  </head>
  <body>
    <div class="Top_Line"></div>
    <div class="Top_Bar">
      <div class="Name_Text">Tyler Dodge</div>
      <div class="Top_Bar_Menu">
	<a href="contact.html" class="Top_Bar_Menu_Item{{page.is_contact}}">Contact</a>
	<a href="resume.html" class="Top_Bar_Menu_Item{{page.is_resume}}">Resume</a>
	<a href="projects.html" class="Top_Bar_Menu_Item{{page.is_projects}}">Projects</a>
	<a href="index.html" class="Top_Bar_Menu_Item{{page.is_home}}">Home</a>
      </div>
    </div>
    <div class="Top_Line"></div>
    <div class="Content">
      <h2 class="Center_Title">{{ page.title }}</h3>
      <div class="Content_Body{{page.add_padding}}">{{ content }}</div>
    </div>
  </body>
</html>
